.window {
  position: absolute;
  width: 80%;
  color: white;
  border-radius: 20px;
  left: 5%;
  top:30%;
  background: none; 
  transform: translate(-50%,0);
  backdrop-filter: blur(7.5px);
  transform: rotate(-3deg);
  overflow: none;
  z-index: 2;
}

.menu-bar {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background:  #333333;
  color: white;
  cursor: move;
}

.menu-bar > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bar > span {
  padding-left: 10px;
  cursor: move;
}

.resizer-right {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

.green {
	background-color: limegreen;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: red;
}


.round {
	cursor: pointer;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: none;
	margin-right: 6px;
	box-shadow: 1px 1px 2px #000;
}

.window-content {
  padding: 20px;
  max-height: 500px;
  box-sizing: border;
  overflow: auto;
  border-left: 1px solid #426CCE;
  border-right: 1px solid #426CCE;
  border-bottom: 1px solid #426CCE;
  border-radius: 0 0 20px 20px;
}
